pkgbase = llvm-git
	pkgdesc = Low Level Virtual Machine (git version)
	pkgver = 11.0.0_r359941.ea201e83e29
	pkgrel = 1
	url = https://llvm.org/
	arch = x86_64
	groups = chaotic-mesa-git
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = libffi
	makedepends = libedit
	makedepends = ncurses
	makedepends = libxml2
	makedepends = python-sphinx
	makedepends = ocaml
	makedepends = ocaml-ctypes
	makedepends = ocaml-findlib
	makedepends = python-sphinx
	makedepends = python-recommonmark
	makedepends = swig
	makedepends = python
	makedepends = lib32-gcc-libs
	makedepends = lib32-libffi
	makedepends = lib32-libxml2
	makedepends = lib32-zlib
	makedepends = python2
	options = staticlibs
	source = llvm-project::git+https://github.com/llvm/llvm-project.git
	source = enable-SSP-and-PIE-by-default.patch
	md5sums = SKIP
	md5sums = 187ede6eb0974d5ce8deb366a857b239
	sha512sums = SKIP
	sha512sums = 15465f8b3ea86339dc1e21ed715a59b70d651373e78e22e7ab36f1d1283c142cbc8c5a7af9123dc110f0aee4672779e2edffa6f9f66a09e3d5c6ea47d2eb8132

pkgname = lldb-git
	pkgdesc = Next generation, high-performance debugger (git version)
	url = https://lldb.llvm.org/
	depends = clang-git=11.0.0_r359941.ea201e83e29-1
	depends = llvm-libs-git=11.0.0_r359941.ea201e83e29-1
	optdepends = llvm-git: for the man file
	provides = lldb=11.0.0_r359941.ea201e83e29
	conflicts = lldb

pkgname = lld-git
	pkgdesc = Linker from the LLVM project
	url = https://lld.llvm.org
	depends = llvm-libs-git=11.0.0_r359941.ea201e83e29-1
	provides = lld=11.0.0_r359941.ea201e83e29
	conflicts = lld

pkgname = compiler-rt-git
	pkgdesc = Compiler runtime libraries for clang (git version)
	url = https://compiler-rt.llvm.org/
	depends = llvm-git=11.0.0_r359941.ea201e83e29-1
	depends = gcc-libs
	provides = compiler-rt=11.0.0_r359941.ea201e83e29
	conflicts = clang-svn

pkgname = clang-git
	pkgdesc = C language family frontend for LLVM (git version)
	url = http://clang.llvm.org/
	depends = llvm-git=11.0.0_r359941.ea201e83e29-1
	depends = gcc
	depends = python
	depends = python2
	optdepends = llvm-libs: for compiling with -flto
	provides = clang=11.0.0_r359941.ea201e83e29
	provides = clang-analyzer
	provides = clang-tools-extra
	conflicts = clang
	conflicts = clang-svn
	conflicts = clang-analyzer
	conflicts = clang-tools-extra
	conflicts = clang-tools-extra-svn
	replaces = clang-svn
	replaces = clang-analyzer-svn
	replaces = clang-tools-extra-svn

pkgname = llvm-ocaml-git
	pkgdesc = OCaml bindings for LLVM (git version)
	depends = llvm-git=11.0.0_r359941.ea201e83e29-1
	depends = ocaml=4.10.0
	depends = ocaml-ctypes
	provides = llvm-ocaml=11.0.0_r359941.ea201e83e29
	conflicts = llvm-ocaml
	conflicts = llvm-ocaml-svn
	replaces = llvm-ocaml-svn

pkgname = llvm-libs-git
	pkgdesc = LLVM runtime libraries (git version)
	depends = gcc-libs
	depends = zlib
	depends = libffi
	depends = libedit
	depends = libxml2
	depends = ncurses
	provides = llvm-libs=11.0.0_r359941.ea201e83e29
	conflicts = llvm-libs-svn
	replaces = llvm-libs-svn

pkgname = llvm-git
	pkgdesc = Collection of modular and reusable compiler and toolchain technologies (git version)
	depends = llvm-libs-git=11.0.0_r359941.ea201e83e29
	depends = perl
	optdepends = python-setuptools: for using lit (LLVM Integrated Tester)
	provides = llvm=11.0.0_r359941.ea201e83e29
	conflicts = llvm
	conflicts = llvm-svn
	replaces = llvm-svn

pkgname = lib32-llvm-libs-git
	pkgdesc = Low Level Virtual Machine library (runtime library)(32-bit)(git version)
	depends = lib32-libffi
	depends = lib32-zlib
	depends = lib32-libxml2
	depends = lib32-gcc-libs
	provides = lib32-llvm-libs=11.0.0_r359941.ea201e83e29
	conflicts = lib32-llvm-libs-svn
	replaces = lib32-llvm-libs-svn

pkgname = lib32-llvm-git
	pkgdesc = Low Level Virtual Machine (32-bit)(git version)
	depends = lib32-llvm-libs-git=11.0.0_r359941.ea201e83e29
	depends = llvm-git
	provides = lib32-llvm
	conflicts = lib32-llvm
	conflicts = lib32-llvm-svn
	replaces = lib32-llvm-svn
	replaces = llvm-svn

